.btn-back {
    width: 120px;
    background-color: white;
    color: #0f114b;
    font-weight: 600;
    border: 2px solid #0f114b;
}

.btn-submit {
    background-color: #005fc6 !important;
    border: none;
}

.view {
    color: #4587ff;
    cursor: pointer;
}

.delete {
    color: #ff6c6c;
    cursor: pointer;
}