<div class="row">
    <div class="col-md-3">
        <h4>View Tenant</h4>
    </div>
    <div class="col-md-9">
        <button type="button" (click)="onBack()" class="btn btn-lg btn-back float-right btn-outline-secondary">Back</button>
        <!-- <button type="button" class="btn btn-lg float-right mr-3 btn-primary">Upload User List</button> -->
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <div class="card">
            <div class="card-body p-4">
                <div class="row">
                    <div class="col">
                        <h4>Tenant Details</h4>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Tenant Name
                            </div>
                            <div class="col-md-8">
                                {{tenantData.tenantName}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Created Date
                            </div>
                            <div class="col-md-8">
                                {{tenantData.createddatetime | date:'dd/MM/yyyy'}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Client Name
                            </div>
                            <div class="col-md-8">
                                {{tenantData.clientName}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Customer Name
                            </div>
                            <div class="col-md-8">
                                {{tenantData.customerName}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Client Logo
                            </div>
                            <div class="col-md-8">
                                <img [src]="tenantData.clientLogo" style="width: 100px;">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Customer Logo
                            </div>
                            <div class="col-md-8">
                                <img [src]="tenantData.customerLogo" style="width: 100px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body p-4">
                <div class="row">
                    <div class="col">
                        <h4>CSV File Details</h4>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                CSV File Name
                            </div>
                            <div class="col-md-8">
                                {{batchData.batchName}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Uploaded Date
                            </div>
                            <div class="col-md-8">
                                {{batchData.uploadedDate | date:'dd/MM/yyyy'}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Migration Type
                            </div>
                            <div class="col-md-8">
                                {{ batchData.migrationType }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Upload Status
                            </div>
                            <div class="col-md-8">
                                {{ batchData.uploadStatus }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body p-4">
                <div class="row">
                    <div class="col-md">
                        <h4>Journey Phase Allocation</h4>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <span class="font-weight-bold">Pre Journey Phase</span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-2">
                        Journey Start Date
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" id="date-input" [(ngModel)]="prePhase" type="date" name="date-input" placeholder="date">
                    </div>
                    <div class="col-md-2">
                        <button type="button" (click)="onPhaseAllocation(1)" class="btn btn-primary btn-submit px-4">
                            Submit
                        </button>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <span class="font-weight-bold">In Progress Phase</span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-2">
                        Journey Start Date
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" id="date-input" [(ngModel)]="inPhase" type="date" name="date-input" placeholder="date">
                    </div>
                    <div class="col-md-2">
                        <button type="button" (click)="onPhaseAllocation(2)" class="btn btn-primary btn-submit px-4">
                            Submit
                        </button>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <span class="font-weight-bold">Post Journey Phase</span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-2">
                        Journey Start Date
                    </div>
                    <div class="col-md-4">
                        <input class="form-control" id="date-input" [(ngModel)]="postPhase" type="date" name="date-input" placeholder="date">
                    </div>
                    <div class="col-md-2">
                        <button type="button" (click)="onPhaseAllocation(3)" class="btn btn-primary btn-submit px-4">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body p-4">
                <div class="row">
                    <div class="col">
                        <h4>User List</h4>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="float-left d-flex">
                            <label class="col-form-label mr-1" for="select1">Show</label>
                            <select id="select1" [(ngModel)]="pageSize" (change)="onPageSize()" name="select1" class="form-control">
                              <option value="5">5</option>
                              <option value="10">10</option>
                              <option value="20">20</option>
                            </select>
                        </div>
                        <div class="input-group float-right" style="width: 300px;">
                            <input type="text" name="search" placeholder="Search" [(ngModel)]="search" (keyup)="onSearchData()" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr class="bg-primary bg-color">
                                <th class="pl-2">Sl No</th>
                                <th class="pl-3">Name</th>
                                <!-- <th class="pl-3">Phone Number</th> -->
                                <!-- <th class="pl-3">Email ID</th> -->
                                <th class="pl-3">Journey Phase</th>
                                <th class="pl-3">Status</th>
                                <th class="pl-3">Action Items</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of userList | paginate: { itemsPerPage: pageSize, currentPage: page , totalItems: totalRecords}">
                                <td class="pl-2">{{user.slno}}</td>
                                <td class="pl-3">{{user.userName}}</td>
                                <!-- <td class="pl-3"></td> -->
                                <!-- <td class="pl-3">{{user.userName}}</td> -->
                                <td class="pl-3">{{user.journeyPhase}}</td>
                                <td class="pl-3">{{user.status}}</td>
                                <td class="pl-3">
                                    <span class="mr-5 font-weight-bold view" (click)="onView(user)">View</span>
                                    <span class="font-weight-bold delete" (click)="onDelete(user)">Delete</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" *ngIf="userList.length > 0">
                    <div class="col-xs-12 col-12">
                        <pagination-controls (pageChange)="page = $event; pageChanged($event)" responsive="true" class="float-right custom-pagination"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-12">
        <button type="button" (click)="onBack()" class="btn btn-lg btn-back float-right btn-outline-secondary">Back</button>
    </div>
</div>