<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container-fluid p-0">
    <div class="row mb-2">
        <div class="col">
            <h4 class="float-left">Tenant</h4>
            <button type="button" class="btn btn-primary float-right bg-color" (click)="onAddEditClick({event:'add',data:null})">Add New Tenant</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4>Tenants Details</h4>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <div class="float-left d-flex">
                                <label class="col-form-label mr-1" for="select1">Show</label>
                                <select id="select1" [(ngModel)]="pageSize" (change)="onPageSize()" name="select1" class="form-control">
                                  <option value="5">5</option>
                                  <option value="10">10</option>
                                  <option value="20">20</option>
                                </select>
                            </div>
                            <div class="input-group float-right" style="width: 300px;">
                                <input type="text" name="search" placeholder="Search" [(ngModel)]="search" (keyup)="onSearchData()" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered">
                            <thead>
                                <tr class="bg-primary bg-color">
                                    <th class="pl-2">Sl No</th>
                                    <th class="pl-3">Tenants</th>
                                    <th class="pl-3">Created Date</th>
                                    <th class="pl-3">Users Uploaded</th>
                                    <th class="pl-3">Action Items</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let tenant of tenantList | paginate: { itemsPerPage: pageSize, currentPage: page , totalItems: totalRecords}">
                                    <td class="pl-2">{{tenant.slno}}</td>
                                    <td class="pl-3">{{tenant.tenantname}}</td>
                                    <td class="pl-3">{{tenant.createddatetime | date:'MM/dd/yyyy'}}</td>
                                    <td class="pl-3">{{tenant.usersuploaded}}</td>
                                    <td class="pl-3">
                                        <span class="mr-5 font-weight-bold manage-details" (click)="onAddEditClick({event:'edit',data:tenant.id})">Manage Details</span>
                                        <span class="mr-5 font-weight-bold manage-que" (click)="onManageQuestion(tenant.id)">Manage Quetions</span>
                                        <span class="mr-5 font-weight-bold manage-batches" (click)="onManageBranches(tenant.id)">Manage Batches</span>
                                        <span class="font-weight-bold delete" (click)="deleteTenant(tenant.id,tenant)">Delete</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row" *ngIf="tenantList.length > 0">
                        <div class="col-xs-12 col-12">
                            <div class="float-left">
                                Showing {{firstEntry}} to {{lastEntry}} of {{totalRecords}} entries
                            </div>
                            <pagination-controls (pageChange)="page = $event; pageChanged($event)" responsive="true" class="float-right custom-pagination"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>