.manage-details {
    color: #4587ff;
    cursor: pointer;
}

.bg-color {
    background-color: #033670 !important;
}

.manage-que {
    color: #fa8105db;
    cursor: pointer;
}

.manage-batches {
    color: #15be15;
    cursor: pointer;
}

.delete {
    color: #ff6c6c;
    cursor: pointer;
}
