<app-header [navbarBrandRouterLink]="['/dashboard']"
            [fixed]="true"
            [navbarBrandFull]="{src: 'assets/img/custom/logo.png', width: 100, height: 50, alt: 'Softel'}"
            [navbarBrandMinimized]="{src: 'assets/img/custom/logo.png', width: 30, height: 30, alt: 'Softel'}"
            [sidebarToggler]="'lg'"
            [asideMenuToggler]="'lg'">
  <div class="ml-auto">
  </div>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'" [minimized]="minimized" #sidebar (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <cui-breadcrumb>
      <!-- Breadcrumb Menu-->
    </cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
  <app-aside [fixed]="true" [display]="false">
  </app-aside>
</div>
<!-- <app-footer>
  <span><a href="https://coreui.io">CoreUI</a> &copy; 2021 creativeLabs.</span>
  <span class="ml-auto">Powered by <a href="https://coreui.io/angular">CoreUI 2 for Angular</a></span>
</app-footer> -->
