<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-12 row">
            <div class="col-md-6">
              <div class="text-muted">Client</div>
              <img src="../../../assets/img/custom/clientlogo.png"  class="img-fluid"/>
            </div>
            <div class="col-md-6">
              <div class="text-muted text-center d-none d-md-block">Customer</div>
              <div class="text-muted d-block d-md-none">Customer</div>
              <img src="../../../assets/img/custom/customer logo.png" class="img-fluid float-right" />
            </div>
          </div>
        </div>


      </div>
    </div>
  </div><!--/.col-->
</div>
<!-- <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-12 row">
              <div class="col-md-9">
                <div class="text-muted">Client</div>
                <img src="../../../assets/img/custom/clientlogo.png" />
              </div>
              <div class="col-md-3">
                <div class="text-muted">Customer</div>
                <img src="../../../assets/img/custom/customer logo.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /> -->
  
  
  <br />
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-4 col-6 pt-1"><h5><strong>Ask for Help</strong></h5></div>
            <div class="col-md-8 col-6">
              <div>
                <div class="col-12 col-sm-8 col-md-4 col-xl-3 mb-xl-0 float-right">
                  <!--<a class="btn-sm btn-block custom-btn-color text-center remove-anchor-textdecoration" [routerLink]="['/ticket']">Raise a Ticket</a>-->
                  <button type="button" class="btn btn-block custom-btn-color  float-right" (click)="ticketPopup()">Raise a Ticket</button>
                  <!-- <button type="button" class="btn-sm btn-block custom-btn-color ">Raise a Ticket</button> -->
                </div>
              </div>
            </div>
          </div>
          <!--<div class="row">
            <div class="col-md-4 col-6"><h4><strong>Ask for Help</strong></h4></div>
            <div class="col-md-8 col-6">
              <div class="card-header-actions" style="height: 21px;">
                <div class="col-12 col-sm-12 col-md-12 col-xl-12 mb-3 mb-xl-0">
                  <button type="button" class="btn-sm btn-block custom-btn-color">Raise a Ticket</button>
                </div>
              </div>
            </div>
          </div>-->
  
  
  
        </div>
        <div class="card-body">
       
          <div class="col-12">
            <h4><strong>Question</strong></h4>
            <textarea id="textarea-input" name="textarea-input" class="form-control" rows="6" [(ngModel)]="question" placeholder="Enter the Question" ></textarea>
          </div>
          <br />
          <div class="col-12">
            <span class="col-5 col-sm-4 col-md-3 col-lg-3 col-xl-2 float-right mb-4 mb-xl-0 pr-0">
              <button type="button" class="btn btn-block custom-btn-color" (click)="save()" [disabled]="question==null|| question==''?'disabled':''">Submit</button>
            </span>
            <span class="col-7 col-sm-4 col-md-3 col-xl-2 col-lg-3 pr-0  pl-0 mb-3 mb-xl-0 float-right" >
              <a type="button" class="btn btn-block btn-outline-primary text-center" [routerLink]="['/questions']">Back to Questions</a>
            </span>
          </div>
          <br />
          <br/>
          <div class="col-12">
            <h4><strong>Answer</strong></h4>
            <div  class="col-12" [innerHTML]="answer|marked"></div>
            <!--<textarea id="textarea-input" name="textarea-input" class="form-control bg-white" rows="6" [(ngModel)]="answer" readonly="readonly"></textarea>-->
          </div>
        </div>
      </div>
    </div><!--/.col-->
  </div>
  
