<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div class="container-fluid p-0">

    <div class="row">
        <div class="col">
            <h4 class="float-left">Manage Batches</h4>
            <button type="button" (click)="onBack()" class="btn btn-back float-right btn-back">Back</button>
        </div>
    </div>


    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col">
                            <h4 class="float-left">User Details</h4>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    Name
                                </div>
                                <div class="col-md-8">
                                    {{userData.userName}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    Created Date
                                </div>
                                <div class="col-md-8">
                                    03/05/2021
                                    <!-- {{batchData.uploadedDate | date:'dd/MM/yyyy'}} -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-4">
                                    Site ID
                                </div>
                                <div class="col-md-8">
                                    {{ userData.siteID }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 mb-2">
                        <div class="col">
                            <h4 class="float-left">journey Level</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card" style="background-color: #ec1c2e; color: white;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <span class="float-left font-weight-bold">{{phase1?.phase}}</span>
                                            <span class="float-right font-weight-bold">{{phase1?.status}}</span>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <span class="float-left">No of Questions</span>
                                            <span class="float-right">{{phase1?.noofQuestions}}</span>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <span class="float-left">Completed Questions</span>
                                            <span class="float-right">{{phase1?.completedQuestions}}</span>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <span class="float-left">Pending Questions</span>
                                            <span class="float-right">{{phase1?.pendingQuestions}}</span>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <button type="button" class="btn btn-sm btn-view btn-outline-secondary">View Responses</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="background-color: #1b65ed; color: white;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <span class="float-left font-weight-bold">{{phase2?.phase}}</span>
                                            <span class="float-right font-weight-bold">{{phase2?.status}}</span>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <span class="float-left">No of Questions</span>
                                            <span class="float-right">{{phase2?.noofQuestions}}</span>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <span class="float-left">Completed Questions</span>
                                            <span class="float-right">{{phase2?.completedQuestions}}</span>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <span class="float-left">Pending Questions</span>
                                            <span class="float-right">{{phase2?.pendingQuestions}}</span>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <button type="button" class="btn btn-sm btn-view btn-outline-secondary">View Responses</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card" style="background-color: #2db000; color: white;">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <span class="float-left font-weight-bold">{{phase3?.phase}}</span>
                                            <span class="float-right font-weight-bold">{{phase3?.status}}</span>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <span class="float-left">No of Questions</span>
                                            <span class="float-right">{{phase3?.noofQuestions}}</span>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <span class="float-left">Completed Questions</span>
                                            <span class="float-right">{{phase3?.completedQuestions}}</span>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <span class="float-left">Pending Questions</span>
                                            <span class="float-right">{{phase3?.pendingQuestions}}</span>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col">
                                            <button type="button" class="btn btn-sm btn-view btn-outline-secondary">View Responses</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col">
                            <h4 class="float-left">Pre Journey Responses Summary</h4>
                        </div>
                    </div>
                    <div *ngIf="questionList.length">
                        <div class="row" *ngFor="let que of questionList">
                            <div class="col">
                                <div class="row">
                                    <div class="col-md-12 font-weight-bold">
                                        Question {{que.serialNumber}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 font-weight-bold">
                                        {{que.question}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {{que.answer}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col">
            <button type="button" (click)="onBack()" class="btn btn-back float-right btn-back">Back</button>
        </div>
    </div>
</div>