<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="row">
    <div class="col">
        <h4 class="float-left">Manage Batches</h4>
    </div>
</div>


<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col">
                        <h4 class="float-left">Tenant Details</h4>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md">
                        <div class="row">
                            <div class="col-md-4">
                                Tenants Name <span class="mr-4" style="color: #ff7e7e">*</span>
                            </div>
                            <div class="col-md">{{tenantData?.tenantName ? tenantData?.tenantName : 'N/A'}}</div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="row">
                            <div class="col-md-4">
                                Created Date <span class="mr-4" style="color: #ff7e7e">*</span>
                            </div>
                            <div class="col-md">{{tenantData?.createddatetime | date: 'dd/MM/yyyy'}}</div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md">
                        <div class="row">
                            <div class="col-md-4">
                                Client Name <span class="mr-4" style="color: #ff7e7e">*</span>
                            </div>
                            <div class="col-md">{{tenantData?.clientName ? tenantData?.clientName : 'N/A'}}</div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="row">
                            <div class="col-md-4">
                                Customer Name <span class="mr-4" style="color: #ff7e7e">*</span>
                            </div>
                            <div class="col-md">{{tenantData?.customerName ? tenantData?.customerName : 'N/A'}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="row">
                            <div class="col-md-4">
                                Client Logo <span class="mr-4" style="color: #ff7e7e">*</span>
                            </div>
                            <div class="col-md pl-0">
                                <img [src]="tenantData?.clientLogo" style="width: 100px" alt="verizon" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="row">
                            <div class="col-md-4 p-3">
                                Customer Logo <span class="mr-4" style="color: #ff7e7e">*</span>
                            </div>
                            <div class="col-md pl-0">
                                <img [src]="tenantData?.clientLogo" style="width: 100px" alt="verizon" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col">
                        <h4 class="float-left">User Management</h4>
                        <!-- <button type="button" class="btn btn-primary float-right bg-color">
              Upload User List
            </button> -->
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="float-left d-flex">
                            <label class="col-form-label mr-1" for="select1">Show</label>
                            <select id="select1" name="select1" class="form-control" [(ngModel)]="apiPayload.pageSize" (change)="onPageSize()">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
              </select>
                        </div>
                        <div class="input-group float-right" style="width: 300px">
                            <input type="text" name="search" placeholder="Search" class="form-control" [(ngModel)]="apiPayload.search" (keyup)="onSearchData()" />
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr class="bg-primary bg-color">
                                <th class="pl-2">Sl No</th>
                                <th class="pl-3">CSV File Name</th>
                                <th class="pl-3">Uploaded Date</th>
                                <th class="pl-3">Migration Type</th>
                                <th class="pl-3">Upload Status</th>
                                <th class="pl-3">Action Items</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let tenant of tenantUserList | paginate: { itemsPerPage: apiPayload.pageSize, currentPage: apiPayload.page , totalItems: apiPayload.totalRecords}; let i = index">
                                <td class="pl-2">{{i + 1}}</td>
                                <td class="pl-3">{{ tenant?.batchName ? tenant?.batchName : 'N/A' }}</td>
                                <td class="pl-3">{{ tenant?.uploadedDate | date: 'dd/MM/yyyy' }}</td>
                                <td class="pl-3">{{ tenant?.migrationType }}</td>
                                <td class="pl-3">{{ tenant?.uploadStatus }}</td>
                                <td class="pl-3">
                                    <span class="mr-5 font-weight-bold manage-user" (click)="onManageUser(tenant)">Manage User</span>
                                    <!-- <span class="mr-5 font-weight-bold manage-user" [routerLink]="'manage-user/' + tenant?.batchName">Manage User</span> -->
                                    <span class="mr-5 font-weight-bold message" (click)="onMessage(tenant)">Message</span>
                                    <span class="mr-5 font-weight-bold delete-user">Delete</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-12">
                        <pagination-controls (pageChange)="apiPayload.page = $event; pageChanged($event)" responsive="true" class="float-right custom-pagination"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="userForm">
                    <div class="row mb-2">
                        <div class="col">
                            <h4 class="float-left">Upload Users</h4>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md">
                            <div class="row">
                                <div class="col-md-8">
                                    Choose a CSV File that contains the following columns in this exract order: Name, Phone number, email Please include one user per row and do not include any header, footer or blank lines.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md">
                            <div class="row">
                                <div class="col-md-8">
                                    Upload a CSV for bulk enrollment
                                    <input type="file" placeholder="Select file" accept=".csv" formControlName="file" (change)="imageHandler($event)" />
                                    <!-- <button type="button" class="btn btn-primary bg-color" [disabled]="userForm.invalid" (click)="submitUserDetail()">
                    Upload CSV
                  </button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <h4>Migration Type</h4>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md">
                            <div class="row">
                                <div class="col-md-2">
                                    Type
                                </div>
                                <div class="col-md-4">
                                    <select id="migrationType" name="migrationType" class="form-control" formControlName="migrationType">
                    <option *ngFor="let i of migrationTypeList" [value]="i.journeyPathID">
                      {{ i.journeyName }}
                  </option>
                  </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-md-8"></div>
                        <div class="col-md-2 pr-2 mb-sm-3 mob-btn">
                            <button type="button" class="btn btn-lg btn-outline-secondary w-100">Back</button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-lg btn-primary w-100" [disabled]="userForm.invalid" (click)="submitUserDetail()">Submit</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>