<style>
  .bg-success {
    background-color: #48ff00;
  }
</style>
<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-12 row">
            <div class="col-md-6">
              <div class="text-muted">Client</div>
              <img src="../../../assets/img/custom/clientlogo.png"  class="img-fluid"/>
            </div>
            <div class="col-md-6">
              <div class="text-muted text-center d-none d-md-block">Customer</div>
              <div class="text-muted d-block d-md-none">Customer</div>
              <img src="../../../assets/img/custom/customer logo.png" class="img-fluid float-right" />
            </div>
          </div>
        </div>


      </div>
    </div>
  </div><!--/.col-->
</div>

<h3>Hi {{userName}}.</h3>
<br />
<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header pb-1">
        <div class="row">
          <div class="col-md-4 col-8 pt-1"><h5><strong>Migration Process</strong></h5></div>
          <div class="col-md-8 col-4">
            <div>
              <div class="col-12 col-sm-12 col-md-3 col-xl-2  mb-xl-0 float-right">
                <!--  <a class="btn-sm btn-block custom-help-btn-color text-center remove-anchor-textdecoration" [routerLink]="['/askforhelp']">Help</a>-->
                  <button type="button" class="btn-sm btn-block custom-help-btn-color " (click)="helpPopup()">Help</button>
                <!-- <button type="button" class="btn-sm btn-block custom-help-btn-color ">Help</button> -->
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="card-body" *ngIf="count<totalQuestions">
        <div class="row">
          <div class="col-md-6 col-6"><h4>Question {{count + 1}}</h4></div>
          <div class="col-md-6 col-6 col-sm-6 text-muted">
            <div class="text-right pr-4">  Question {{count + 1}} of {{totalQuestions}}</div>
           
            <!--<progressbar class="progress" [value]="count" [max]="totalQuestions-1" type="success"><b>{{(count+1)*100/totalQuestions}}%</b></progressbar>-->
            <div class="progress float-right" style="width:130px">
              <div class="progress-bar custom-progressbar-bg" role="progressbar" [style.width.%]="(count+1)*100/totalQuestions" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="pl-3" [innerHTML]="this.questionsData.questions[count].question"></div>
        </div>

        <div class="col-md-12 pl-0 pt-3" *ngIf="questionsData.questions[count].questionTypeID==4">
          <textarea id="textarea-input" name="textarea-input" class="form-control" rows="5" placeholder="Enter the Answer" [(ngModel)]="userResponse"></textarea><!--rows="9"-->
        </div>

        <div class="col-md-5 col-sm-7 col-lg-4 pl-0 pt-3" *ngIf="questionsData.questions[count].questionTypeID==3">
          <select ng-model="Answer" #testVal class="form-control" [(ngModel)]="userResponse">
            <option value="">--Select--</option>
            <option *ngFor="let answerOption of answerArrayType" value={{answerOption}}>
              {{answerOption}}
            </option>
          </select>
        </div>


        <div class="col-md-12 col-form-label pl-0 pt-3" *ngIf="questionsData.questions[count].questionTypeID==1">

          <div class="form-check pb-1" *ngFor="let radioOption of  answerArrayType;">
            <input class="form-check-input pr-2" type="radio" name="radios" id={{radioOption}} value={{radioOption}} [(ngModel)]="userResponse" (click)="radioOption=='No'?myModal.show():true">
            <label class="form-check-label" for={{radioOption}}>
              {{radioOption}}
            </label>
          </div>
        </div>



        <div class="col-md-12 pl-0 col-form-label" *ngIf="questionsData.questions[count].questionTypeID==2">
          <div class="form-check pb-2" *ngFor="let checkOption of  answerArrayType;">
            <input class="form-check-input" type="checkbox" value="{{checkOption}}" id="{{checkOption}}" (change)="checkboxOnChange(checkOption, $event.target.checked)" [checked]="checkedArray.indexOf(checkOption) > -1?'checked':''">
            <label class="form-check-label" for="{{checkOption}}">
              {{checkOption}}
            </label>
          </div>
        </div>
      </div>

      <div class="pb-2" *ngIf="count<totalQuestions">
        <div class="col-md-12">
          <span class="col-4 col-sm-3 col-md-2 col-xl-1 col-lg-2 pr-0 mb-3 mb-xl-0 float-right">
            <button type="button" class="btn btn-block custom-btn-color" (click)="save()" [disabled]="userResponse==null ||userResponse==''?'disabled':''">Next</button>
          </span>
          <span class="col-4 col-sm-3 col-md-2 col-xl-1 col-lg-2 pr-0 mb-3 mb-xl-0 float-right" *ngIf="count>currentQuestion">
            <button type="button" class="btn btn-block btn-outline-primary" (click)="back()">Back</button>
          </span>

        </div>
      </div>
      <div class="pl-3 pt-3" *ngIf="count==totalQuestions">
        <h3>{{message}}</h3>
        <div>          
          <span class="col-4 col-sm-2 col-md-2 col-lg-2 col-xl-1 mb-3 mb-xl-3 float-right">
            <button type="button" class="btn btn-block custom-btn-color" (click)="ok()">Ok</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button id="hidemodal" type="button" class="close float-right" (click)="userResponse='';myModal.hide();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <br>

        <br>
        <h5 class="text-center">Having Difficulties...</h5>
        <p class="text-center">Click below to go to Ask a Question</p>
        <div class="text-center col-md-12" style="margin-left: 165px;">
          <button   type="button" class="btn btn-block custom-btn-color col-md-3" (click)="helpPopup()">Ok</button>

        </div>

      </div>
    </div>
  </div>
</div>
