<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="container-fluid p-0">
    <div class="row mb-2">
        <div class="col">
            <h4 class="float-left">New Tenant</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h5>Tenant Details</h5>
                        </div>
                    </div>
                    <form [formGroup]="tenantForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="tenant-name">Tenants Name <span class="required-color">*</span></label>
                                    <div class="col-md-9">
                                        <input type="text" id="tenant-name" formControlName="tenantName" name="tenant-name" class="form-control">
                                        <!-- <div class="invalid-feedback">
                            Please provide a valid information.
                          </div> -->
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label class="col-form-label" for="client-name">Client Name <span class="required-color">*</span></label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" id="client-name" formControlName="clientName" name="client-name" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="tenant-name">Client Logo <span class="required-color">*</span></label>
                                    <div class="col-md-9" *ngIf="client_logo == ''">
                                        <input type="file" id="file-input" formControlName="clientLogo" (change)="onImageUpload('client',$event)" name="file-input">
                                        <p><em class="mt-2 text-secondary">Upload any PNG, JPG to get started. The max file size is 2MB.</em></p>
                                    </div>
                                    <div class="col-md-9" *ngIf="client_logo != ''">
                                        <label for="client">
                                        <img [src]="client_logo" style="max-width: 100px;" >
                                        <label for="upload-photo" class="file-upload">Choose New File</label>
                                        <input type="file" name="photo" id="upload-photo" formControlName="clientLogo" class="file-upload-box" (change)="onImageUpload('client',$event)" />
                                        <p> <em class="mt-2 text-secondary">Upload any PNG, JPG to get started. The max file size is 2MB.</em></p>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="tenant-name">
                                        &nbsp;
                                        <!-- Start Date <span class="required-color">*</span> -->
                                    </label>
                                    <div class="col-md-9">
                                        &nbsp;
                                        <!-- <input class="form-control" id="date-input" type="date" name="date-input" placeholder="date"> -->
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-3">
                                        <label class="col-form-label" for="customer-name">Customer Name <span class="required-color">*</span></label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" id="customer-name" formControlName="customerName" name="customer-name" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="tenant-name">Customer Logo <span class="required-color">*</span></label>
                                    <div class="col-md-9" *ngIf="customer_logo == ''">
                                        <input type="file" id="file-input1" formControlName="customerLogo" (change)="onImageUpload('customer',$event)" name="file-input1">
                                        <p><em class="mt-2 text-secondary">Upload any PNG, JPG to get started. The max file size is 2MB.</em></p>
                                    </div>

                                    <div class="col-md-9" *ngIf="customer_logo != ''">
                                        <label for="customer">
                                            <img [src]="imgSrCustomer" style="max-width: 100px;" >
                                            <label for="upload-photo" class="file-upload">Choose New File</label>
                                        <input type="file" name="photo" id="upload-photo" formControlName="customerLogo" class="file-upload-box" (change)="onImageUpload('customer',$event)" />
                                        <p><em class="mt-2 text-secondary">Upload any PNG, JPG to get started. The max file size is 2MB.</em></p>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md">
                                <h5>Phase Details</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="tenant-name">Phase 1 Name <span class="required-color">*</span></label>
                                    <div class="col-md-9">
                                        <input type="text" id="tenant-name" formControlName="phase1Name" name="phase1" class="form-control">
                                        <!-- <div class="invalid-feedback">
                                Please provide a valid information.
                              </div> -->
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="phase1msg">Phase 1 Successful Completion Message <span class="required-color">*</span></label>
                                    <div class="col-md-9">
                                        <textarea id="textarea-input" formControlName="phase1CompletionMessage" name="textarea-input" rows="5" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="phase3">Phase 3 Name <span class="required-color">*</span></label>
                                    <div class="col-md-9">
                                        <input type="text" id="tenant-name" formControlName="phase3Name" name="phase3" class="form-control">
                                        <!-- <div class="invalid-feedback">
                                Please provide a valid information.
                              </div> -->
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="phase3msg">Phase 3 Successful Completion Message <span class="required-color">*</span></label>
                                    <div class="col-md-9">
                                        <textarea id="textarea-input" name="textarea-input" formControlName="phase3CompletionMessage" rows="5" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="phase2">Phase 2 Name <span class="required-color">*</span></label>
                                    <div class="col-md-9">
                                        <input type="text" id="tenant-name" name="phase2" formControlName="phase2Name" class="form-control">
                                        <!-- <div class="invalid-feedback">
                                Please provide a valid information.
                              </div> -->
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 col-form-label" for="phase2msg">Phase 2 Successful Completion Message <span class="required-color">*</span></label>
                                    <div class="col-md-9">
                                        <textarea id="textarea-input" name="phase2msg" formControlName="phase2CompletionMessage" rows="5" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                <h4>Theme Details</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label" for="tenant-name">Theme <span class="required-color">*</span></label>
                                    <div class="col-md-9 col-form-label">
                                        <div class="form-check form-check-inline mr-1" id="inline-radios">
                                            <input class="form-check-input" for="d-blue" type="radio" formControlName="theme" name="theme" id="inlineRadio1" value="1">
                                            <img src="assets/img/custom/dark-blue.png" id="d-blue" style="width: 200px;">
                                        </div>
                                        <div class="form-check form-check-inline mr-1">
                                            <input class="form-check-input" type="radio" name="theme" formControlName="theme" id="inlineRadio2" value="2">
                                            <img src="assets/img/custom/green.png" style="width: 200px;" />
                                        </div>
                                        <div class="form-check form-check-inline mr-1">
                                            <input class="form-check-input" type="radio" name="theme" formControlName="theme" id="inlineRadio3" value="3">
                                            <img src="assets/img/custom/purple.png" style="width: 200px;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col-md-8"></div>
                            <div class="col-md-2 pr-2">
                                <button type="button" class="btn btn-lg btn-outline-secondary w-100" (click)="onCancel()">Cancel</button>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-lg btn-primary w-100" [disabled]="!tenantForm.valid" (click)="onSubmit()">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>