<div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-12 row">
              <div class="col-md-6">
                <div class="text-muted">Client</div>
                <img src="../../../assets/img/custom/clientlogo.png"  class="img-fluid"/>
              </div>
              <div class="col-md-6">
                <div class="text-muted text-center d-none d-md-block">Customer</div>
                <div class="text-muted d-block d-md-none">Customer</div>
                <img src="../../../assets/img/custom/customer logo.png" class="img-fluid float-right" />
              </div>
            </div>
          </div>
  
  
        </div>
      </div>
    </div><!--/.col-->
  </div>


<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="col-md-4 col-8 pt-1">
                    <h5><strong>Personal Messages</strong></h5>
                </div>
            </div>
            <div class="card-body">

                <table class="table" *ngIf="isTable=='true'">
                    <!-- <thead>
                        <tr>
                            <th>Messages</th>                            
                        </tr>
                    </thead> -->
                    <tbody>
                        <tr  *ngFor="let msg of messages" (click)="details(msg.pmMessage)" style="cursor: pointer;">
                          <td>{{msg.pmMessageSummary}}</td>  
                            <td>{{msg.date | date: 'MMM d yyyy hh:mm a'}}</td>  
                        </tr>                      
                    </tbody>
                </table>
                <!-- <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul> -->
                <div *ngIf="isTable=='false'">
                    <!-- <div class="row">
                        <div class="col-md-10 text-muted">email</div>
                        <div class="col-md-2">sdsd</div>
                        <hr>
                    </div> -->
                    <div [innerHTML]="messageDetails">
                        <!-- {{messageDetails}} -->
                    </div>
                    <div>
                        <span class="col-6 col-sm-4 col-md-4 col-xl-1  col-lg-2 mb-3 pr-0 mb-xl-0 float-right">
                            <button type="button" class="btn btn-block btn-outline-primary" (click)="back()">Back</button>
                          </span>

                    </div>
                </div>


            </div>
        </div>
    </div>
    <!--/.col-->
</div>

