.btn-back {
    width: 120px;
    background-color: white;
    color: #0f114b;
    font-weight: 600;
    border: 2px solid #0f114b;
}

.btn-view {
    width: 120px;
    background-color: white;
    color: #0f114b;
    font-weight: 600;
    float: left;
}

.view {
    color: #4587ff;
    cursor: pointer;
}