<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="row" style="align-items: center;">
    <div class="col-md-3">
        <h4>Manage Batches</h4>
    </div>
    <div class="col-md-9">
        <button type="button" (click)="onBack()" class="btn btn-lg btn-back float-right btn-outline-secondary">Back</button>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <div class="card">
            <div class="card-body p-4">
                <div class="row">
                    <div class="col">
                        <h4>Tenant Details</h4>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Tenant Name
                            </div>
                            <div class="col-md-8">
                                {{tenantData.tenantName}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Created Date
                            </div>
                            <div class="col-md-8">
                                {{tenantData.createddatetime | date:'dd/MM/yyyy'}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Client Name
                            </div>
                            <div class="col-md-8">
                                {{tenantData.clientName}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Customer Name
                            </div>
                            <div class="col-md-8">
                                {{tenantData.customerName}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Client Logo
                            </div>
                            <div class="col-md-8">
                                <img [src]="tenantData.clientLogo" style="width: 100px;">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Customer Logo
                            </div>
                            <div class="col-md-8">
                                <img [src]="tenantData.customerLogo" style="width: 100px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body p-4">
                <div class="row">
                    <div class="col">
                        <h4>CSV File Details</h4>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                CSV File Name
                            </div>
                            <div class="col-md-8">
                                {{batchData.batchName}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Uploaded Date
                            </div>
                            <div class="col-md-8">
                                {{batchData.uploadedDate | date:'dd/MM/yyyy'}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Migration Type
                            </div>
                            <div class="col-md-8">
                                {{ batchData.migrationType }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Upload Status
                            </div>
                            <div class="col-md-8">
                                {{ batchData.uploadStatus }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body p-4">
                <div class="row">
                    <div class="col">
                        <h4>User Details</h4>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Name
                            </div>
                            <div class="col-md-8">
                                {{userData.userName}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Created Date
                            </div>
                            <div class="col-md-8">
                                03/05/2021
                                <!-- {{batchData.uploadedDate | date:'dd/MM/yyyy'}} -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Site ID
                            </div>
                            <div class="col-md-8">
                                {{ userData.siteID }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body p-4">
                <div class="row">
                    <div class="col px-5">
                        <h4>Journey Phase</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 px-5">
                        <div class="card" style="background-color: #ec1c2e; color: white;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="float-left font-weight-bold">{{phase1?.phase}}</span>
                                        <span class="float-right font-weight-bold">{{phase1?.status}}</span>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <span class="float-left">No of Questions</span>
                                        <span class="float-right">{{phase1?.noofQuestions}}</span>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <span class="float-left">Completed Questions</span>
                                        <span class="float-right">{{phase1?.completedQuestions}}</span>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <span class="float-left">Pending Questions</span>
                                        <span class="float-right">{{phase1?.pendingQuestions}}</span>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <button type="button" (click)="onViewResponse()" class="btn btn-sm btn-view btn-outline-secondary">View Responses</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 px-5">
                        <div class="card" style="background-color: #1b65ed; color: white;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="float-left font-weight-bold">{{phase2?.phase}}</span>
                                        <span class="float-right font-weight-bold">{{phase2?.status}}</span>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <span class="float-left">No of Questions</span>
                                        <span class="float-right">{{phase2?.noofQuestions}}</span>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <span class="float-left">Completed Questions</span>
                                        <span class="float-right">{{phase2?.completedQuestions}}</span>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <span class="float-left">Pending Questions</span>
                                        <span class="float-right">{{phase2?.pendingQuestions}}</span>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <button type="button" (click)="onViewResponse()" class="btn btn-sm btn-view btn-outline-secondary">View Responses</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 px-5">
                        <div class="card" style="background-color: #2db000; color: white;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="float-left font-weight-bold">{{phase3?.phase}}</span>
                                        <span class="float-right font-weight-bold">{{phase3?.status}}</span>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <span class="float-left">No of Questions</span>
                                        <span class="float-right">{{phase3?.noofQuestions}}</span>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <span class="float-left">Completed Questions</span>
                                        <span class="float-right">{{phase3?.completedQuestions}}</span>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <span class="float-left">Pending Questions</span>
                                        <span class="float-right">{{phase3?.pendingQuestions}}</span>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col">
                                        <button type="button" (click)="onViewResponse()" class="btn btn-sm btn-view btn-outline-secondary">View Responses</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body p-4">
                <div class="row">
                    <div class="col">
                        <h4>Support Ticket List</h4>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="float-left d-flex">
                            <label class="col-form-label mr-1" for="select1">Show</label>
                            <select id="select1" [(ngModel)]="pageSize" (change)="onPageSize()" name="select1" class="form-control">
                              <option value="5">5</option>
                              <option value="10">10</option>
                              <option value="20">20</option>
                            </select>
                        </div>
                        <div class="input-group float-right" style="width: 300px;">
                            <input type="text" name="search" placeholder="Search" [(ngModel)]="search" (keyup)="onSearchData()" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr class="bg-primary bg-color">
                                <th class="pl-2">Sl No</th>
                                <th class="pl-3">Priority</th>
                                <th class="pl-3">Created Date</th>
                                <th class="pl-3">Subject</th>
                                <th class="pl-3">Resolutions</th>
                                <th class="pl-3">Action Items</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ticket of ticketList | paginate: { itemsPerPage: pageSize, currentPage: page , totalItems: totalRecords};let i=index">
                                <td class="pl-2">{{i}}</td>
                                <td class="pl-3">{{ticket.priority}}</td>
                                <td class="pl-3">{{ticket.creationdatetime | date:'dd/MM/yyyy'}}</td>
                                <td class="pl-3">{{ticket.subject}}</td>
                                <td class="pl-3">{{ticket.requestDetails}}</td>
                                <td class="pl-3">
                                    <span class="mr-5 font-weight-bold view" (click)="onView(ticket)">View</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" *ngIf="ticketList.length > 0">
                    <div class="col-xs-12 col-12">
                        <pagination-controls (pageChange)="page = $event; pageChanged($event)" responsive="true" class="float-right custom-pagination"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>