.msg {
    white-space: nowrap;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-back {
    width: 120px;
    background-color: white;
    color: #0f114b;
    font-weight: 600;
    border: 2px solid #0f114b;
}

.view {
    color: #4587ff;
    cursor: pointer;
}

.delete {
    color: #ff6c6c;
    cursor: pointer;
}