<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<div class="row">
    <div class="col-md-3">
        <h4>Messages</h4>
    </div>
    <div class="col-md-9">
        <button type="button" (click)="onBack()" class="btn btn-lg btn-back float-right btn-outline-secondary">Back</button>
    </div>
</div>
<div class="row mt-2">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col">
                        <h4 class="float-left">Tenant Details</h4>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md">
                        <div class="row">
                            <div class="col-md-4">
                                Tenants Name <span class="mr-4" style="color: #ff7e7e">*</span>
                            </div>
                            <div class="col-md">{{tenantData?.tenantName ? tenantData?.tenantName : 'N/A'}}</div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="row">
                            <div class="col-md-4">
                                Created Date <span class="mr-4" style="color: #ff7e7e">*</span>
                            </div>
                            <div class="col-md">{{tenantData?.createddatetime | date: 'dd/MM/yyyy'}}</div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md">
                        <div class="row">
                            <div class="col-md-4">
                                Client Name <span class="mr-4" style="color: #ff7e7e">*</span>
                            </div>
                            <div class="col-md">{{tenantData?.clientName ? tenantData?.clientName : 'N/A'}}</div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="row">
                            <div class="col-md-4">
                                Customer Name <span class="mr-4" style="color: #ff7e7e">*</span>
                            </div>
                            <div class="col-md">{{tenantData?.customerName ? tenantData?.customerName : 'N/A'}}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <div class="row">
                            <div class="col-md-4">
                                Client Logo <span class="mr-4" style="color: #ff7e7e">*</span>
                            </div>
                            <div class="col-md pl-0">
                                <img [src]="tenantData?.clientLogo" style="width: 100px" alt="verizon" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="row">
                            <div class="col-md-4 p-3">
                                Customer Logo <span class="mr-4" style="color: #ff7e7e">*</span>
                            </div>
                            <div class="col-md pl-0">
                                <img [src]="tenantData?.clientLogo" style="width: 100px" alt="verizon" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body p-4">
                <div class="row">
                    <div class="col">
                        <h4>CSV File Details</h4>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                CSV File Name
                            </div>
                            <div class="col-md-8">
                                {{batchData.batchName}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Uploaded Date
                            </div>
                            <div class="col-md-8">
                                {{batchData.uploadedDate | date:'dd/MM/yyyy'}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Migration Type
                            </div>
                            <div class="col-md-8">
                                {{ batchData.migrationType }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                Upload Status
                            </div>
                            <div class="col-md-8">
                                {{ batchData.uploadStatus }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body p-4">
                <div class="row">
                    <div class="col">
                        <h4>Message List</h4>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col">
                        <div class="float-left d-flex">
                            <label class="col-form-label mr-1" for="select1">Show</label>
                            <select id="select1" [(ngModel)]="pageSize" (change)="onPageSize()" name="select1" class="form-control">
                              <option value="5">5</option>
                              <option value="10">10</option>
                              <option value="20">20</option>
                            </select>
                        </div>
                        <div class="input-group float-right" style="width: 300px;">
                            <input type="text" name="search" placeholder="Search" [(ngModel)]="search" (keyup)="onSearchData()" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr class="bg-primary bg-color">
                                <th class="pl-2">Sl No</th>
                                <th class="pl-3">Subject</th>
                                <th class="pl-3">Messages</th>
                                <th class="pl-3">Created Date</th>
                                <th class="pl-3">Status</th>
                                <th class="pl-3">Action Items</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let message of messageList | paginate: { itemsPerPage: pageSize, currentPage: page , totalItems: totalRecords};let i=index">
                                <td class="pl-2">{{i}}</td>
                                <td class="pl-3">
                                    <div>{{message.pmMessageSummary}}</div>
                                </td>
                                <td class="pl-3">
                                    <div class="msg">{{message.pmMessage}}</div>
                                </td>
                                <td class="pl-3">{{message.date | date:'dd/MM/yyyy'}}</td>
                                <td class="pl-3">
                                    <span [ngStyle]="{'color': message.status ? 'green':'orange'}">
                                        {{message.status? 'Delivered':'Pending'}}
                                    </span>
                                </td>
                                <td class="pl-3">
                                    <span class="mr-5 font-weight-bold view">View</span>
                                    <span class="font-weight-bold delete">Delete</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" *ngIf="messageList.length > 0">
                    <div class="col-xs-12 col-12">
                        <pagination-controls (pageChange)="page = $event; pageChanged($event)" responsive="true" class="float-right custom-pagination"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>