<!-- <div class="modal-header">

    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">

        <span aria-hidden="true">&times;</span>

    </button>

</div> -->

<div class="modal-body">
    <button type="button" class="close float-right" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <br>
    <br>
    <h5 class="text-center">{{errormsg}}</h5>
    <div class="text-center col-md-12" style="margin-left: 165px;">
        <button type="button" class="btn btn-block custom-btn-color col-md-3" (click)="close()">Ok</button>
    </div>
</div>