.text-color-1 {
    color: #c8ced3;
}

.btn-save {
    background-color: #005fc6 !important;
}

.checkmark {
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    cursor: pointer;
    border-radius: 2px;
}

.l-ragio-btn {
    border: 0px;
    width: 100%;
    height: 2em;
}

.form-control[readonly] {
    background-color: #ffffff;
    opacity: 1;
}

.edit-text {
    text-align: center;
    color: #0f114b;
    font-weight: 700;
    line-height: 50px;
    font-size: 18px;
    cursor: pointer;
}

.drag-div {
    margin: 2px;
    border: 1px solid gray;
}

.dndList {
    transition: all 300ms ease;
    &.dndDragover {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.dndDragging {
    border: 1px solid green;
}

.dndDraggingSource {
    display: none;
}

.dndPlaceholder {
    min-height: 72px;
    border: 1px dashed green;
    background-color: rgba(0, 0, 0, 0.1);
}

.btn-outline-primary {
    color: #0f114b;
    font-weight: 600;
    border-color: #0f114b;
}