// Here you can add other styles
.post-journey {
    background-color: #dbdbdb;
}

.in-progress-card {
    background-color: #1b65ee;
}

.pre-journey-card {
    background-color: #ec1c2e;
}

.icon-custom-home:before {
    content: url(../assets/img/custom/homeicon2.png)
}

.icon-custom-personal-message:before {
    content: url(../assets/img/custom/personalmessageicon.png)
}

.icon-custom-help:before {
    content: url(../assets/img/custom/helpnavicon.png)
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
}

.remove-anchor-textdecoration {
    text-decoration: none !important;
    // cursor: default;
}

.custom-btn-color {
    background-color: #043771;
    color: white;
}

.custom-btn-color:hover {
    color: white;
}

.custom-btn-color:hover {
    color: white;
}

.custom-help-btn-color:hover {
    color: white;
}

.table {
    thead {
        tr {
            background-color: #0f114b !important;
        }
    }
}

input[type="text"],
input[type=date],
textarea,
select {
    box-shadow: 0px 0px 0px 1px #e5e5e5;
}

.custom-help-btn-color {
    background-color: #7BC300;
    border-color: #7BC300;
    color: white;
    border: none;
}

.custom-progressbar-bg {
    background-color: #48ff00;
}

.responsive-image {
    width: 100%;
    height: 100%;
}

.ngx-pagination {
    li {
        border: 1px solid #cecece;
    }
    .current {
        background-color: #053771 !important;
    }
}

.btn-primary {
    background-color: #0f114b !important;
    border-color: #0f114b !important;
}

.btn-outline-primary {
    color: #0f114b;
    border: 2px solid #0f114b;
}

.sidebar .nav-link .nav-icon {
    color: white;
}

.sidebar .nav-link.active .nav-icon {
    color: white;
}

.required-color {
    color: red;
}

// @media only screen and (max-width: 767px) {
//   .responsive-image {
//     width: 100%;
//     height: 100%;
//   }
// }
@media only screen and (max-width: 780px) {
    .cutom-font-size {
        font-size: 0.9rem !important;
    }
    .custom-status-font-size {
        font-size: 0.65rem !important;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 780px) {
    .cutom-font-size {
        font-size: 0.9rem !important;
    }
    .custom-status-font-size {
        font-size: 0.65rem !important;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 834px) {
    .cutom-font-size {
        font-size: 1.0rem !important;
    }
    .custom-status-font-size {
        font-size: 0.69rem !important;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 1300px) {
    .cutom-font-size {
        font-size: 1.2rem !important;
    }
    .custom-status-font-size {
        font-size: 0.72rem !important;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1280px) {
    .cutom-font-size {
        font-size: 1.5rem !important;
    }
    .custom-status-font-size {
        font-size: 0.75rem !important;
    }
}