<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-12 row">
            <div class="col-md-6">
              <div class="text-muted">Client</div>
              <img src="../../../assets/img/custom/clientlogo.png" class="img-fluid" />
            </div>
            <div class="col-md-6">
              <div class="text-muted text-center d-none d-md-block">Customer</div>
              <div class="text-muted d-block d-md-none">Customer</div>
              <img src="../../../assets/img/custom/customer logo.png" class="img-fluid float-right" />
            </div>
          </div>
        </div>


      </div>
    </div>
  </div><!--/.col-->
</div>

<h2>Hi {{userName}}.</h2>
<br />
<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="col-md-4 col-8 pt-1"><h5><strong>Migration Journey Status</strong></h5></div>
      </div>
      <div class="card-body">

        <div class="row">

          <div class="col-md-4">
            <!--/.col xl-->
            <div class="col-6 col-lg-12 col-12">
              <a class="col-6 col-lg-12 remove-anchor-textdecoration" [routerLink]="homeDetails.phase1Status=='Started'?['/questions']:''" [style.cursor]="homeDetails.phase1Status=='Started'?'pointer':'default'">
                <div class="card" [style.background-color]="homeDetails.phase1Status=='Started'?'#2db000':'#dbdbdb'">
                  <div class="card-body p-1 clearfix">
                    <div class="row">
                      <div class="col-md-4 col-6">
                        <img src="../../../assets/img/custom/prejourney.png" height="100%" width="100%" />
                      </div>
                      <div class="col-md-8 col-6">
                        <div class="h5 mb-0 mt-2 cutom-font-size" [style.color]="homeDetails.phase1Status=='Started'?'white':'black'">{{homeDetails.phase1Name}}</div>
                        <!-- <div class="text-white font-xs">Lorem Ipusm</div> -->
                        <hr class="bg-dark">
                        <div class="custom-status-font-size" [style.color]="homeDetails.phase1Status=='Started'?'white':'black'">Status :  {{homeDetails.phase1Status}}</div>
                      </div>
                    </div>

                  </div>
                </div>
              </a>
            </div>
          </div>





          <div class="col-md-4">
            <div class="col-6 col-lg-12 col-12">
              <a class="col-6 col-lg-12 remove-anchor-textdecoration" [routerLink]="homeDetails.phase2Status=='Started'?['/questions']:''" [style.cursor]="homeDetails.phase2Status=='Started'?'':'default'">
                <div class="card" [style.background-color]="homeDetails.phase2Status=='Started'?'#2db000':'#dbdbdb'">
                  <div class="card-body p-1 clearfix">
                    <div class="row">
                      <div class="col-md-4 col-6">
                        <img src="../../../assets/img/custom/inprogress.png" height="100%" width="100%" />
                      </div>
                      <div class="col-md-8 col-6">
                        <div class="h5  mb-0 mt-2 cutom-font-size" [style.color]="homeDetails.phase2Status=='Started'?'white':'black'">{{homeDetails.phase2Name}}</div>
                        <!-- <div class="text-white font-xs">Lorem Ipusm</div> -->
                        <hr class="bg-dark">
                        <div class="custom-status-font-size" [style.color]="homeDetails.phase2Status=='Started'?'white':'black'">Status : {{homeDetails.phase2Status}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>



          <div class="col-md-4">
            <div class="col-6 col-lg-12 col-12">
              <a class="col-6 col-lg-12 remove-anchor-textdecoration" [routerLink]="homeDetails.phase3Status=='Started'?['/questions']:''" [style.cursor]="homeDetails.phase3Status=='Started'?'pointer':'default'">
                <div class="card" [style.background-color]="homeDetails.phase3Status=='Started'?'#2db000':'#dbdbdb'">
                  <div class="card-body p-1 clearfix">
                    <div class="row">
                      <div class="col-md-4 col-6">
                        <!--<i class="fa fa-bell bg-danger p-3 font-2xl mr-3 float-left"></i>-->
                        <img src="../../../assets/img/custom/posticon.png" height="100%" width="100%" />
                      </div>
                      <div class="col-md-8 col-6">
                        <div class="h5 mb-0 mt-2 cutom-font-size" [style.color]="homeDetails.phase3Status=='Started'?'white':'black'">{{homeDetails.phase3Name}}</div>
                        <!-- <div class=" font-xs text-dark">Lorem Ipusm</div> -->
                        <hr class="bg-dark">
                        <div class="custom-status-font-size" [style.color]="homeDetails.phase3Status=='Started'?'white':'black'">Status :  {{homeDetails.phase3Status}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <!-- </div> -->








        </div>
      </div>
    </div><!--/.col-->


