<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-12 row">
            <div class="col-md-6">
              <div class="text-muted">Client</div>
              <img src="../../../assets/img/custom/clientlogo.png"  class="img-fluid"/>
            </div>
            <div class="col-md-6">
              <div class="text-muted text-center d-none d-md-block">Customer</div>
              <div class="text-muted d-block d-md-none">Customer</div>
              <img src="../../../assets/img/custom/customer logo.png" class="img-fluid float-right" />
            </div>
          </div>
        </div>


      </div>
    </div>
  </div><!--/.col-->
</div>


<br />
<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="card">
      <div class="card-body">
        <h5><strong>Create a Ticket</strong></h5>
        <br />
        <form [formGroup]="ticketForm" (ngSubmit)="save()" #formDir="ngForm" novalidate>
          <div class="row col-md-8 col-xl-6 col-lg-9">
            <div class="form-group row col-md-12">
              <label class=" control-label col-md-4">Name</label>
              <div class="col-md-8">
                <input class="form-control" type="text" formControlName="name" readonly="readonly">
              </div>
              <!-- <span class="text-danger" *ngIf="name?.invalid && formDir.submitted">
      Name is required.
    </span> -->
            </div>

            <div class="form-group row col-md-12">
              <label class=" control-label col-md-4">Email</label>
              <div class="col-md-8">
                <input class="form-control" type="text" formControlName="email" readonly="readonly">
              </div>
              <!-- <span class="text-danger" *ngIf="email?.invalid && formDir.submitted">
      Email is required.
    </span> -->
            </div>

            <div class="form-group row col-md-12">
              <label class="control-label col-md-4" for="PhoneNumber">Phone</label>
              <div class="col-md-8">
                <input class="form-control" type="text" formControlName="phoneNumber" readonly="readonly">
              </div>
              <!-- <span class="text-danger" *ngIf="phoneNumber?.invalid && formDir.submitted">
      Phone Number is required
    </span> -->
            </div>

            <div class="form-group row col-md-12">
              <label class=" control-label col-md-4">Site Id</label>
              <div class="col-md-8">
                <input class="form-control" type="text" formControlName="location" readonly="readonly">
              </div>
              <!-- <span class="text-danger" *ngIf="email?.invalid && formDir.submitted">
      Email is required.
    </span> -->
            </div>

            <div class="form-group row col-md-12">
              <label class=" control-label col-md-4">Agency</label>
              <div class="col-md-8">
                <input class="form-control" type="text" formControlName="agency" readonly="readonly">
              </div>
              <!-- <span class="text-danger" *ngIf="email?.invalid && formDir.submitted">
      Email is required.
    </span> -->
            </div>

            <div class="form-group row col-md-12">
              <label class="control-label col-md-4" for="priority">Priority</label>
              <div class="col-md-8">
                <input class="form-control" type="text" formControlName="priority" readonly="readonly">
              </div>
              <!-- <span class="text-danger" *ngIf="priority?.invalid && formDir.submitted">
      Priority is required
    </span> -->
            </div>


            <div class="form-group row col-md-12">
              <label class="control-label col-md-4" for="Subject" >Subject</label>
              <div class="col-md-8">
                <input  required class="form-control" type="text" [(ngModel)]="usubject" formControlName="subject">
              </div>

              <!--<span class="text-danger" *ngIf="subject?.invalid && formDir.submitted">
    Subject is required
  </span>-->
            </div>


            <div class="form-group row col-md-12">
              <label class="control-label col-md-4" for="ProblemDescription">Problem Description</label>
              <div class="col-md-8">
                <!--<input class="form-control" type="text" formControlName="problemDescription">-->
                <textarea id="textarea-input" formControlName="problemDescription" [(ngModel)]="udesc" name="textarea-input" class="form-control bg-white" rows="4"></textarea>
              </div>
              <!--<span class="text-danger" *ngIf="problemDescription?.invalid && formDir.submitted">
      Problem Description is required
    </span>-->
            </div>

            <div class="form-group row col-md-12">
              <label class="control-label col-md-4" for="">Attachment</label>
              <div class="col-md-8">
                <input class="form-control" type="file" (change)="onChange($event)">
              </div>
            </div>


            <div class="form-group col-md-11 pr-0">
              <!--<button type="submit" class=" btn btn-primary">Save</button>
    <button class="btn btn-danger" (click)="cancel()">Cancel</button>-->
              <span class="col-6 col-sm-4 col-md-4 col-xl-3 pr-0 mb-3 mb-xl-0 float-right">
                <button type="button" class="btn btn-block custom-btn-color" (click)="save()" [disabled]="udesc==null ||udesc=='' || usubject==''|| usubject==null ?'disabled':''">Submit</button>
              </span>
              <span class="col-6 col-sm-4 col-md-4 col-xl-3 mb-3 pr-0 mb-xl-0 float-right">
                <button type="button" class="btn btn-block btn-outline-primary" (click)="back()">Back</button>
              </span>

            </div>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>

<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close float-right" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <br>
        <br>
        <h5 class="text-center">{{this.responseMessage}}</h5>
        <div class="text-center col-md-12 col-sm-4" style="margin-left: 165px;">
          <button type="button" class="btn btn-block custom-btn-color col-md-3" (click)="back()">Ok</button>
        </div>

      </div>
    </div>
  </div>
</div>

